@model EurTryViewModel

<div class="col-md-4">
    <div class="card">
        <div class="card-header bg-success text-white">
            <i class="fas fa-euro-sign me-2"></i>EUR/TRY
        </div>
        <div class="card-body stat-card">
            <h3>@Model.data.exchange_rate ₺</h3>
        </div>
    </div>
</div>
